user.mapping=["bdb-aem.core:writeService\=[content-writer-service, content-reader-service-helper]","org.apache.sling.models.impl:writeService\=[content-writer-service, content-reader-service-helper]","bdb-aem.core:writeServiceReplicate\=[replication-service, content-reader-service-helper]","bdb-aem.core:readService\=[content-reader-service, content-reader-service-helper]"]