# Configuration created by Apache Sling JCR Installer
debug.email=B"true"
from.address="no-reply@bd.com"
service.pid="com.day.cq.mailer.DefaultMailService"
smtp.host="bd-com.mail.protection.outlook.com"
smtp.password=""
smtp.port=I"25"
smtp.ssl=B"false"
smtp.starttls=B"true"
smtp.user="no-reply@bd.com"
