# Configuration created by Apache Sling JCR Installer
allow.hosts.regexp=[""]
allow.hosts=["qa-gl.bdbiosciences.com","dev-gl.bdbiosciences.com","stg-gl.bdbiosciences.com","prd-gl.bdbiosciences.com","stage.bdbioscience.com","bdbiosciences.com","www.bdbiosciences.com"]
filter.methods=["POST","PUT","DELETE"]
exclude.agents.regexp=[""]
allow.empty=B"false"